// Import Variables
@import 'variables';

.achievement-section {
  background-color: $neutral-silver;
  padding: 5px 0px;
  // margin: ;
  width: 100%;
  
  @media (max-width: 1440px) {
    padding: 64px 5%;
  }

  @media (max-width: 991px) {
    padding: 64px 3%;
  }

  @media (max-width: 768px) {
    padding: 64px 15px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .container {

      max-width: 1140px;
      margin: 0 auto;
      padding: 0px 12px;
    
    // width: 100%;
  }

  .achievement-content {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }
  }

  .achievement-header {
    text-align: center;
    max-width: 540px;
    
  }

  .achievement-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $neutral-d_grey;
    margin-bottom: 8px;

    .text-primary {
      color: $primary-brand;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .achievement-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $neutral-grey;
  }

  .achievement-stats {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    // padding: 20px;

    @media (max-width: 768px) {
      justify-content: center;
      gap: 10px;

      }

  
  }

  .achievement-stat {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 255px;

    @media (max-width: 991px) {
      width: 100%;
      max-width: 300px;
      justify-content: center;
    }

    @media (max-width: 768px) {
      width: 100%;
      max-width: 600px;
      justify-content: center;
    }

    

    img {
      width: 48px;
      height: 48px;
    }
  }

  .stat-details {
    display: flex;
    flex-direction: column;
  }

  .stat-number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: $neutral-d_grey;
  }

  .stat-label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $neutral-grey;
  }
}