// Import variables
@import "variables";

// .navbar {
//   background: red;
//   padding-top: 15px ;
//   position: relative;
// padding-left:100px;
// padding-right: 100px;

// @media (max-width: 768px) {
//   padding-left: 10px;
//  padding-right: 10px;
// }

// @media (max-width: 480px) {
//   padding-left: 10px;
//   padding-right: 10px;
// }

.navbar {
  display: flex;
  background-color: $neutral-silver;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: unset;
  // position: relative;

  @media screen and (max-width: 1224px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 20px 20px;
    // position: relative;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 12px;
  }

  .logo {
    max-width: 150px;
    height: auto;

    @media (max-width: 768px) {
      max-width: 120px;
    }

    @media (max-width: 480px) {
      max-width: 100px;
    }
    @media (max-width: 380px) {
      max-width: 70px;
    }
    // @media (max-width: 100px) {
    //   max-width: 60px;
    // }
    @media (max-width: 80px) {
      max-width: 50px;
    }
    @media (max-width: 60px) {
      max-width: 35px;
    }
  }

  .navbar-nav {
    display: flex;
    gap: 30px;
    align-items: center;
    // margin: 0;
    // padding: 0;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    .nav-item {
      list-style: none;

      .nav-link {
        font-family: $body-font;
        font-weight: 400;
        font-size: 16px;
        color: $neutral-grey;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $neutral-black;
          font-weight: 500;
        }

        @media (max-width: 991px) {
          font-size: 18px;
        }
      }
    }
  }

  .auth-buttons {
    display: flex;
    gap: 14px;
    align-items: center;

    @media (max-width: 991px) {
      width: 100%;
      justify-content: flex-start;
      margin-top: 20px;
      gap: 10px;
    }

    @media (max-width: 768px) {
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
    }

    .login-btn,
    .signup-btn {
      display: inline-block;
      padding: 8px 15px;
      border-radius: 6px;
      text-align: center;
      font-family: $body-font;
      font-size: 14px;
      transition: all 0.3s ease;
      text-decoration: none;

      @media (max-width: 480px) {
        font-size: 12px;
        padding: 6px 12px;
        width: 100%;
        text-align: center;
      }
    }

    .login-btn {
      background: var(--neutral-silver);
      color: var(--primary-color);
      border: none;

      &:hover {
        background: $neutral-silver;
      }
    }

    .signup-btn {
      background: $primary-brand;
      color: $neutral-white;
      border: none;

      &:hover {
        background: $shade-s2;
      }
    }
  }

  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: var(--primary-color);

    @media (max-width: 991px) {
      display: block;
      // width: 20px;
    }
  }

  .offcanvas {
    width: 250px;
    background: $neutral-silver;

    .offcanvas-header {
      border-bottom: 1px solid $neutral-silver;

      .btn-close {
        color: $neutral-black;
      }
    }

    .offcanvas-body {
      padding: 15px;
    }
  }
}
