// Breakpoints
$breakpoint-mobile: 428px;
$breakpoint-extra-small: 203px;

// Colors
// $primary-color: #0d6efd; // Bootstrap primary color
// $brand-primary: #4CAF4F; // Brand primary color
// $dark-grey: #4D4D4D;
// $medium-grey: #717171;
// $light-bg: #F5F7FA;

$neutral-black: #263238;
$neutral-d_grey: #4D4D4D;
$neutral-grey: #717171;
$neutral-l_grey: #89939E;
$neutral-grey_blue: #ABBED1;
$neutral-silver: #F5F7FA;
$neutral-white: #FFFFFF;

$info-brand: #2194F3; 
$primary-brand: #4CAF4F;
$secondary-brand: #263238; 

$shade-s1:#43A046;
$shade-s2:#388E3B;
$shade-s3: #237D31;
$shade-s4: #1B5E1F;
$shade-s5: #103E13;

$tint-t1:#66BB69;
$tint-t2:#81C784;
$tint-t3:#A5D6A7;
$tint-t4:#C8E6C9;
$tint-t5:#E8F5E9;

$action-warning:#FBC02D;
$action-error:#E53835;
$action-success:#2E7D31;

