// Breakpoints
$breakpoint-mobile: 428px;
$breakpoint-extra-small: 203px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

$body-font: Inter, sans-serif;

// Colors

$neutral-black: #263238;
$neutral-d_grey: #4D4D4D;
$neutral-grey: #717171;
$neutral-l_grey: #89939E;
$neutral-grey_blue: #ABBED1;
$neutral-silver: #F5F7FA;
$neutral-white: #FFFFFF;

$info-brand: #2194F3; 
$primary-brand: #4CAF4F;
$secondary-brand: #263238; 

$shade-s1:#43A046;
$shade-s2:#388E3B;
$shade-s3: #237D31;
$shade-s4: #1B5E1F;
$shade-s5: #103E13;

$tint-t1:#66BB69;
$tint-t2:#81C784;
$tint-t3:#A5D6A7;
$tint-t4:#C8E6C9;
$tint-t5:#E8F5E9;

$action-warning:#FBC02D;
$action-error:#E53835;
$action-success:#2E7D31;



// Typography
$body-font: 'Inter', sans-serif;

// Breakpoint Mixins
// @mixin xs-screen {
//   @media (max-width: 575.98px) {
//     @content;
//   }
// }

// @mixin sm-screen {
//   @media (max-width: 767.98px) {
//     @content;
//   }
// }

// @mixin md-screen {
//   @media (max-width: 991.98px) {
//     @content;
//   }
// }

// @mixin lg-screen {
//   @media (max-width: 1199.98px) {
//     @content;
//   }
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   font-family: $body-font;
//   line-height: 1.5;
//   color: $neutral-d_grey;
// }

// button, 
// a {
//   transition: all 0.3s ease;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }