// Breakpoints
$breakpoint-mobile: 428px;
$breakpoint-extra-small: 203px;

// Colors
$primary-color: #0d6efd; // Bootstrap primary color
$brand-primary: #4CAF4F; // Brand primary color
$dark-grey: #4D4D4D;
$medium-grey: #717171;
$light-bg: #F5F7FA;

