@import 'variables';
@import 'navbar';  
@import 'hero-section';
@import 'client-section';  
@import 'community-section'; 
@import 'blog-section';


.body{
    font-family: $body-font;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
    @media (min-width: 768px) {
      padding: 0 40px; 
    }
    
    @media (min-width: 992px) {
      padding: 0 80px; 
    }
  }

