@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  overflow-x: hidden;
}

.container {
  max-width: 1152px;
  width: 100%;
}

.dropdown-toggle::after {
  display: none !important;
}

.main-header {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: #FFFFFF;
}

.top-header {
  background-color: #000E24;
  padding: 8px 0;
}
.top-header .navbar {
  background-color: #FFFFFF;
}
.top-header p4,
.top-header a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000E24;
}
.nav-link:hover {
  color: #2196F3;
}

.nav-btn {
  padding: 14px 32px;
  background-color: #2196F3;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: #0045B4;
}

.hero-section {
  position: relative;
  height: 730px;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.hero-bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
}

.hero-title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -2%;
  font-weight: 800;
  color: #FFFFFF;
  font-family: Manrope, sans-serif;
}

.hero-text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.hero-btn1 {
  padding: 20px 40px;
  background-color: #2196F3;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn1:hover {
  background-color: #0045B4;
}

.hero-btn2 {
  padding: 20px 40px;
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #2196F3;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn2:hover {
  background-color: #2196F3;
}

.hero-img {
  width: 504px;
  height: 730px;
  overflow: hidden;
}

.hero-img img {
  height: 100%;
}

.services-section {
  padding-top: 80px;
  background-color: #F5F6F9;
}

.services-header {
  margin-bottom: 56px;
}

.services-link {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #2196F3;
  font-family: Manrope, sans-serif;
  margin-bottom: 16px;
}

.services-header-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
  margin-bottom: 0;
  text-align: center;
}

.service-row {
  margin-bottom: 24px;
}

.service-item {
  background-color: #F4F8FF;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}
.service-item:hover .service-content {
  background-color: #2196F3;
}
.service-item:hover .service-title {
  color: #F4F8FF;
}
.service-item:hover .service-text {
  color: #F4F8FF;
}
.service-item:hover .service-link {
  color: #F4F8FF;
}
.service-item:hover .service-link img {
  filter: brightness(0) invert(1);
}
.service-item:hover .service-icon img {
  filter: brightness(0) invert(1);
}

.service-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.service-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-content {
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.service-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 16px;
}

.service-icon img {
  width: 100%;
  height: 100%;
}

.service-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #11141B;
  font-family: Manrope, sans-serif;
  margin-bottom: 12px;
}

.service-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 24px;
}

.service-footer {
  padding-top: 16px;
}

.service-link {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #00296C;
  font-family: Inter, sans-serif;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}
.service-link img {
  margin-left: 10px;
}

.service-border {
  height: 3px;
  background-color: #9BC1FF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: auto;
  transition: opacity 0.3s ease;
}

.service-item:hover .service-border {
  opacity: 0;
}

.feature-row {
  margin-bottom: 30px;
}

.feature-row .col-lg-6 {
  padding-bottom: 20px;
}

.feature-image {
  display: flex;
  position: relative;
}

.main-image {
  position: relative;
  width: 432px;
  height: 446px;
  padding: 10px;
  z-index: 2;
}

.main-image img {
  width: 100%;
}

.bg-image {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 442px;
  height: 440px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.bg-image img {
  height: 100%;
}

.feature-content {
  max-width: 676px;
}

.feature-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
  margin-bottom: 20px;
}

.feature-description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 32px;
}

.feature-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 32px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feature-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img {
  width: 100%;
  height: 100%;
}

.feature-text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.feature-link {
  gap: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 28px;
  background-color: #2196F3;
  border-radius: 4px;
  cursor: pointer;
}
.feature-link:hover {
  background-color: #0045B4;
}

.pricing-section {
  padding: 80px 0;
  background-color: #F4F8FF;
}

.pricing-header {
  margin-bottom: 56px;
}

.pricing-link {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #2196F3;
  font-family: Manrope, sans-serif;
  margin-bottom: 16px;
  position: relative;
  text-decoration: none;
}

.pricing-heading {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
  text-align: center;
}

.pricing-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  height: 611px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.pricing-item:hover {
  border-top-color: #2196F3;
  border-bottom-color: #2196F3;
  border-left-color: #E6E9F0;
  border-right-color: #E6E9F0;
  transform: translateY(-5px);
}

.pricing-content {
  padding: 20px 20px 40px 20px;
  height: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pricing-content {
  padding: 20px 20px 40px 20px;
  height: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pricing-title {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
  margin-bottom: 0;
}

.pricing-month {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #2196F3;
  font-family: Manrope, sans-serif;
}

.time {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #00296C;
  font-family: Inter, sans-serif;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.pricing-feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricing-feature-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-feature-icon img {
  width: 100%;
  height: 100%;
}

.pricing-feature-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.pricing-btn {
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid #2196F3;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #00296C;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
}

.pricing-btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.work-section {
  padding: 80px 0;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.work-heading {
  color: #2196F3;
  margin-bottom: 16px;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  font-weight: 600;
  font-family: Manrope, sans-serif;
}

.work-title {
  color: #00296C;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.work-images {
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
}

.work-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  opacity: 0;
  width: 80%;
  transition: all 0.3s ease;
}

.work-img {
  width: 380px;
  height: 450px;
  overflow: hidden;
}

.work-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-img-title {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: Manrope, sans-serif;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
}

.work-img-title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFFFFF;
  margin-left: 30px;
  margin-right: 30px;
}

.work-subtitle {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.work-img {
  position: relative;
  height: 450px;
}

.work-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-images:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 53, 53, 0.6);
  z-index: 1;
}

.work-images:hover .work-content {
  opacity: 1;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid #00296C;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 700;
  border-radius: 0px;
}

.nav-pills .nav-link:hover {
  border-bottom: 2px solid #00296C;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: Manrope, sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #0045B4;
  background-color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: Manrope, sans-serif;
}

.nav-pills .nav-link {
  border-radius: 0px;
  color: #00296C;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
  font-family: Manrope, sans-serif;
}

.work-links {
  margin-bottom: 24px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: thin;
}

.work-menu-link {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  padding: 10px 80px;
  width: -moz-max-content;
  width: max-content;
}

.work-link {
  white-space: nowrap;
  flex-shrink: 0;
}

.years-section {
  padding: 80px 0;
  background-color: #F4F8FF;
}

.year-header {
  margin-bottom: 56px;
}

.year-title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: Manrope, sans-serif;
  color: #2196F3;
  text-align: center;
}

.year-row {
  display: flex;
  justify-content: center;
}

.year-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.year-icon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  align-items: center;
}

.year-icon img {
  max-width: 100%;
  max-height: 100%;
}

.year-number {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: Manrope, sans-serif;
  color: #000e24;
}

.year-plus {
  color: #2196F3;
}

.year-label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  font-family: Manrope, sans-serif;
  color: #00296C;
}

.blog-section {
  padding: 80px 0;
  background-color: #F4F8FF;
}

.blog-header {
  margin-bottom: 50px;
}

.blog-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #2196F3;
  font-family: Manrope, sans-serif;
}

.blog-link h4 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #2196F3;
  font-family: Manrope, sans-serif;
}

.blog-link h4 img {
  margin-left: 8px;
}

.blog-heading {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
}

.blog-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
}

.blog-item {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.blog-img {
  flex: 0 0 284px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
  margin-bottom: 0;
}

.blog-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #2196F3;
  font-family: Inter, sans-serif;
}

.blog-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.blog-footer {
  margin-top: 10px;
}

.blog-footer .blog-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #2196F3;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-btn {
  margin: 30px;
}

.blog-btn a {
  padding: 20px 40px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
.blog-btn a:hover {
  background-color: #0045B4;
}

.footer-section {
  background-color: #000E24;
  padding: 90px 0 30px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-heading {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #FFFFFF;
  font-family: Manrope, sans-serif;
  max-width: 80%;
}

.footer-btn {
  padding: 19px 40px;
  background-color: #F42C38;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  font-family: Inter, sans-serif;
  cursor: pointer;
}
.footer-btn:hover {
  background-color: #AB0913;
}

.footer-border {
  border: 1px solid #323B50;
  margin-bottom: 35px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #F4F8FF;
  font-family: Manrope, sans-serif;
  margin-bottom: 16px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.footer-icon {
  width: 16px;
  height: 16px;
}

.footer-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
  text-decoration: none;
  gap: 10px;
  display: flex;
}

.footer-emergency {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  margin-top: 10px;
  margin-bottom: 8px;
}

.footer-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-number-icon {
  width: 24px;
  height: 24px;
}

.footer-number-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
  gap: 10px;
  display: flex;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  text-decoration: none;
}

.footer-news {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 274px;
}

.news-title {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #FFFFFF;
  font-family: Manrope, sans-serif;
  margin-bottom: 0;
  letter-spacing: -2%;
}

.news-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  letter-spacing: -2%;
  margin-bottom: 16px;
}

.news-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news-input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 3px;
  background-color: #F4F8FF;
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000E24;
}
.news-input::-moz-placeholder {
  color: #9CA6C1;
}
.news-input::placeholder {
  color: #9CA6C1;
}

.news-btn {
  width: 100%;
  height: 48px;
  padding: 14px 32px;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  cursor: pointer;
}
.news-btn:hover {
  background-color: #0045B4;
}

.footer-social {
  display: flex;
  gap: 29px;
  margin-bottom: 40px;
}

.social-icon {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: 32px;
  height: 32px;
}
.social-icon img {
  width: 100%;
  height: 100%;
}

.social-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #546286;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.social-icon:hover .social-tooltip {
  opacity: 1;
  visibility: visible;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.footer-last {
  display: flex;
  gap: 20px;
}

.footer-right {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #F4F8FF;
  font-family: Inter, sans-serif;
  text-decoration: none;
  text-align: right;
}

.slider-section {
  padding-top: 80px;
}

.slider-heading {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 600;
  color: #2196F3;
  font-family: Manrope, sans-serif;
}

.slider-title {
  font-family: Manrope, sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  margin: 0 auto 40px;
}

.slider-section1 {
  display: flex;
  overflow-x: hidden;
  display: flex;
  padding: 40px;
  overflow-y: hidden;
  position: relative;
}

.slider-rate {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.slider-section1 .priv-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 50%;
  left: 20px;
}

.slider-section1 .next-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 50%;
  right: 20px;
}

.slider1 {
  padding: 20px;
  background-color: #F4F8FF;
}

.slider2 {
  padding: 20px;
  background-color: #F4F8FF;
}

.slider3 {
  padding: 20px;
  background-color: #F4F8FF;
}

.slider4 {
  padding: 20px;
  background-color: #F4F8FF;
}

.slider-content {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #00296C;
  font-family: Inter, sans-serif;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  margin-right: 10px;
}

.profile-info {
  margin-left: 10px;
}

.profile-name {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -2%;
  font-weight: 700;
  color: #00296C;
  font-family: Manrope, sans-serif;
}

.profile-position {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #00296C;
  font-family: Manrope, sans-serif;
}

@media (max-width: 1280px) {
  .hero-content {
    max-width: 630px;
  }
  .hero-img {
    width: 504px;
  }
  .feature-content {
    max-width: 670px;
  }
  .main-image {
    width: 432px;
    height: 446px;
  }
  .bg-image {
    width: 442px;
    height: 456px;
  }
  .work-section {
    padding: 60px 0;
  }
  .work-img {
    height: 350px;
  }
  .work-img-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .work-img-title::after {
    margin-left: 25px;
    margin-right: 25px;
  }
  .work-subtitle {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .years-section {
    padding: 60px 0;
  }
  .blog-section {
    padding: 60px 0;
  }
  .blog-footer {
    margin-top: 0;
  }
  .footer-section {
    padding: 80px 0 32px;
  }
}
@media (max-width: 991px) {
  .hero-section {
    height: auto;
    padding-top: 50px;
  }
  .hero-content {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .hero-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .hero-buttons {
    justify-content: center;
  }
  .hero-img {
    width: 100%;
    height: auto;
    max-width: 518px;
    margin: 0 auto;
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .services-section {
    padding: 60px 0;
  }
  .services-header {
    margin-bottom: 40px;
  }
  .services-header-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .service-item {
    margin-bottom: 24px;
  }
  .feature-section {
    padding: 60px 0;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-image {
    margin: 0 auto;
  }
  .feature-content {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .pricing-section {
    padding: 60px 0;
  }
  .pricing-header {
    margin-bottom: 40px;
  }
  .pricing-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .pricing-item {
    margin-bottom: 24px;
  }
  .work-section {
    padding: 50px 0;
  }
  .work-header {
    margin-bottom: 40px;
  }
  .work-links {
    margin-bottom: 32px;
  }
  .work-menu-link {
    gap: 16px;
  }
  .work-links {
    margin-bottom: 24px;
    display: flex;
    overflow: scroll;
    white-space: nowrap;
  }
  .work-link {
    padding-right: 30px;
  }
  .work-img {
    height: 300px;
  }
  .work-content {
    width: 90%;
  }
  .work-img-title::after {
    margin-left: 20px;
    margin-right: 20px;
  }
  .years-section {
    padding: 50px 0;
  }
  .year-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .year-row .col-md-6 {
    max-width: 50%;
  }
  .year-item {
    margin-bottom: 32px;
  }
  .blog-section {
    padding: 50px 0;
  }
  .blog-header {
    margin-bottom: 40px;
  }
  .blog-item {
    height: auto;
  }
  .blog-img {
    width: 100%;
  }
  .blog-content {
    padding: 16px;
  }
  .footer-section {
    padding: 60px 0 30px;
  }
  .footer-header {
    display: block;
    flex-direction: column;
    gap: 24px;
  }
  .footer-heading {
    margin-bottom: 30px;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .footer-contact {
    margin-bottom: 30px;
  }
  .footer-nav {
    margin-bottom: 30px;
  }
  .footer-news {
    max-width: 100%;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .top-header {
    display: none;
  }
  .hero-section {
    height: auto;
    padding-top: 40px 0 0px;
  }
  .hero-bg {
    height: 100%;
  }
  .hero-row {
    flex-direction: column;
  }
  .hero-content {
    gap: 24px;
    margin-bottom: 30px;
  }
  .hero-img {
    max-width: 320px;
  }
  .hero-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .hero-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .hero-btn2 {
    padding: 16px 18px;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .services-section {
    padding: 40px 0;
  }
  .services-header {
    margin-bottom: 32px;
  }
  .services-header-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .services-section .col-sm-12 {
    max-width: 100%;
  }
  .service-img {
    height: 200px;
  }
  .service-footer {
    padding-top: 12px;
  }
  .feature-section {
    padding: 40px 0;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
  }
  .feature-content {
    padding: 0 15px;
  }
  .feature-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .feature-description {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .feature-text {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
  }
  .pricing-header {
    margin-bottom: 30px;
  }
  .pricing-heading {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .pricing-item {
    height: auto;
    min-height: 610px;
  }
  .pricing-content {
    height: auto;
    min-height: 600px;
  }
  .price {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .time {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
  .pricing-btn {
    width: 100%;
  }
  .years-section {
    padding: 40px 0;
  }
  .year-header {
    margin-bottom: 30px;
  }
  .year-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    padding: 15px;
    max-width: 100%;
  }
  .year-row .col-sm-12 {
    max-width: 100%;
  }
  .year-content {
    padding-left: 0;
  }
  .year-item {
    margin-bottom: 15px;
  }
  .work-section {
    padding: 40px 0;
  }
  .work-header {
    margin-bottom: 32px;
  }
  .work-heading {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -2%;
    font-weight: 600;
  }
  .work-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .work-links {
    margin-bottom: 24px;
    display: flex;
    overflow: scroll;
  }
  .work-row .col-sm-12 {
    max-width: 100%;
  }
  .work-img {
    height: 450px;
    width: 100%;
  }
  .work-images {
    margin-bottom: 20px;
  }
  .work-content {
    width: 85%;
  }
  .work-img-title::after {
    margin-left: 15px;
    margin-right: 15px;
  }
  .work-img-title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .blog-item {
    flex-direction: column;
  }
  .blog-section {
    padding: 40px 0;
  }
  .blog-header {
    margin-bottom: 32px;
  }
  .blog-description {
    max-width: 100%;
  }
  .footer-section {
    padding: 40px 0 24px;
  }
  .footer-btn {
    padding: 14px 32px;
  }
  .footer-main {
    flex-direction: column;
    gap: 24px;
  }
  .footer-contact,
  .footer-nav {
    margin-bottom: 24px;
  }
  .footer-social {
    margin-bottom: 30px;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
}
@media (max-width: 480px) {
  .top-header {
    display: none;
  }
  .hero-section {
    padding: 30px 0 0px;
  }
  .hero-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-weight: 700;
  }
  .services-header-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .service-img {
    height: 200px;
  }
  .feature-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .feature-image {
    max-width: 280px;
  }
  .main-image {
    width: 266px;
    height: 260px;
  }
  .bg-image {
    width: 260px;
    height: 270px;
  }
  .work-section {
    padding: 30px 0;
  }
  .work-header {
    margin-bottom: 24px;
  }
  .work-menu-link {
    gap: 8px;
  }
  .work-section {
    padding: 30px 0;
  }
  .work-img {
    height: 300px;
  }
  .work-img-title::after {
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
  }
  .year-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    padding: 10px;
  }
  .blog-section {
    padding: 30px 0;
  }
  .blog-header {
    margin-bottom: 24px;
  }
  .blog-img {
    height: 180px;
  }
  .blog-btn a {
    padding: 20px 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
  .footer-section {
    padding: 30px 0 20px;
  }
  .footer-btn {
    padding: 12px 24px;
  }
  .footer-social {
    gap: 20px;
  }
  .social-icon {
    width: 28px;
    height: 28px;
  }
}/*# sourceMappingURL=styless.css.map */